<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-item">
        <p>{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
        <ul>
            <li><a class="sidebar-nav-item" href="{{site.url}}/category/">Category</a>
                <div class="category">
                    {% for category in site.categories %}
                    <a href="{{ root_url }}/category/{{ category | first }}"
                       class="sidebar-nav-item pl-3rem">
                          <span class="name">
                              {{ category | first }}
                          </span>
                        <span class="badge">{{ category | last | size }}</span>
                    </a>
                    {% endfor %}
                </div>
            </li>
        </ul>
    </nav>

    <div class="sidebar-item">
        <p>
            &copy; 2020. All rights reserved.
        </p>
    </div>
</div>
